body {
    font-family: Raleway;
}

nav a img {
    margin: 5px 0 5px 0;
    width: 90px;
}

nav li.nav-item {
    font-family: Montserrat;
    font-size: 83%;
}

li.active {
    border-bottom: 1.5px solid rgb(22,149,138);
}

li.active a i{
    color: rgb(22,149,138);
}

li.nav-item:hover {
    background-color: rgb(22,149,138);
    transition: ease-out;
    transition-duration: 500ms;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

/*********************************
___________INDEX.html_____________
**********************************/

div.topCoverImage {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.imageContent{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 85px;
}

div.imageContent img.imageIcon {
    width: 5em;
}

.imageContent h2{
    text-shadow: 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37);
    font-size: 3em;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat';
    letter-spacing: 0.08em;
    line-height: 1.5em;
}

.imageContent button {
    font-weight: bold;
    font-size: 1.2em;
}

a img {
    width: 1.4em;
}

div.overviewSection div.overviewS1 h4 {
    color: rgb(22,149,138);
    font-weight: bold;
    font-family: 'Montserrat';
    letter-spacing: 0.1em;
}

div.overviewSection div.overviewS1 h2 {
    margin-top: 30px;
    line-height: 1.5em;
    letter-spacing: 0.07em;
}

div.overviewSection div.overviewS2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

div.overviewSection div.overviewS2 img{
    width: 250px;
}

div.overviewS2 p{
    width: 250px;
    font-size: 1.15em;
    letter-spacing: 0.08em;
    line-height: 1.8em;
    color: rgb(114, 114, 114);
}

.focus-bar {
    width: 29px;
    height: 9px;
    margin-bottom: 15px;
    background-color: rgb(22,149,138);
}

section h4{
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: rgb(22,149,138);
}

section h3{
    font-size: 1.05em;
    letter-spacing: 0.08em;
    line-height: 2.2em;
}

section#requests div.whiteBar{
    background-color: white;
}

section {
    padding: 50px 0 50px 0;
}

section#requests {
    background: rgb(27, 164, 215);
    color: white;
}

section#requests h4{
    color: white;
}

.downloadSection{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 100px 0 100px 0;
    background-color: rgb(22,149,138);
}

.downloadSection h2 {
    font-size: 2.8em;
    color: white;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

.downloadSection h4{
    font-size: 1.2em;
    font-family: 'Montserrat';
    color: rgb(197, 197, 197);
    letter-spacing: 0.06em;
    margin-bottom: 25px;
}

.footerSection {
    padding: 50px 0 50px 0;
    color: white;
    font-family: 'Montserrat';
    background-color: rgb(39, 39, 39);
}

.footerSection a{
    color: white;
    font-size: 0.85em;
}

/***************************************************************
    about.html
***************************************************************/

.gradientBody {
    height: 100%;
    background-image: linear-gradient(to right, rgb(41, 213, 178) , rgb(27, 164, 215));
}

.aboutSection h2,
.workSection h2 {
    margin-top: 20px;
    font-size: 2.2em;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37);
}

.aboutSection p {
    color: white;
    line-height: 1.7em;
    letter-spacing: 0.11em;
}

.ourDetails{
    margin: 30px 0;
    padding: 30px 0;
    color: white;
}

.ourDetails img{
    text-align: center;
    height: 250px;
    width: 250px;
    background-color: white;
}

.ourDetails h5{
    font-family: 'Redressed';
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 15px;
}

.ourDetails p{
    font-size: 0.85em;
    color: rgb(216, 216, 216);
}

.ourDetails a{
    font-size: 0.9em;
    color: rgb(51, 51, 51);

}

.ourDetails a i{
    font-size: 1.3em;
    color: black;
}

.contactForm{
    background-color: white;
    max-width: 600px;
    padding: 30px 30px;
    width: 85%;
    margin: 50px auto;
    border-radius: 50px;
    box-shadow: -3px 2px 4px rgb(168, 168, 168), -4px 3px 6px rgb(192, 192, 192), -5px 0 8px rgb(136, 136, 136);
}

.contactForm h2{
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: rgb(22,149,138);
}

/***************************************************************/
/***************************************************************/

/***************************************************************
    working.html
***************************************************************/

.workSection ul{
    color: white;
    letter-spacing: 0.085em;
}

.toolsUsed h4 {
    font-weight: bold;
    font-family: 'Montserrat';
    color: white;
    text-decoration: underline;
    /* text-shadow: 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37); */
}

div.card {
    align-items: center;
}

div.card h5 {
    font-weight: bold;
    font-family: 'Montserrat';
}

div.card p {
    color: black;
    font-size: 0.9em;
    letter-spacing: 0.09em;
    line-height: 1.7em;
}

div.card p a {
    color: gray;
}

div.card img{
    margin-top: 20px;
    width: 80px;
}


/*************************Media Queries******************************/

@media(max-width:992px){

    div.overviewSection div.overviewS2 img{
        width: 180px;
    }
    
    div.overviewS2 p{
        width: 180px;
        font-size: 0.9em;
    }

}
    /*****************************************/

@media(max-width: 815px){
    
    .imageContent h2{
        font-size: 2em;
    }

    div.overviewSection div.overviewS1 h2 {
        font-size: 1.5em;
    }
    
    section h4{
        font-size: 1em;
    }
    
    section h3{
        font-size: 0.9em;
        line-height: 1.8em;
    }
    
    section img.phoneImg{
        height: 400px;
    }
    
    .downloadSection h2 {
        font-size: 2.2em;
    }
    
    .downloadSection h4{
        font-size: 1em;
    }

}
    /*****************************************/

@media(max-width: 768px){

    div.overviewSection div.overviewS1 h2 {
        font-size: 1.2em;
    }
    
    section img.phoneImg{
        height: 330px;
    }
    
    div.overviewSection div.overviewS2{
        flex-direction: column;
    }

    div.overviewSection div.overviewS2 img{
        width: 230px;
    }
    
    div.overviewS2 p{
        width: 230px;
        font-size: 1em;
    }

    section h3{
        margin-bottom: 30px;
    }

}
    /*****************************************/

@media(max-width: 525px){
    
    .imageContent h2{
        font-size: 1.5em;
    }

    div.overviewSection div.overviewS1 h2 {
        font-size: 1.1em;
    }

    div.overviewSection div.overviewS1 h4 {
        font-size: 1.1em;
    }

    div.overviewSection div.overviewS2 img{
        width: 180px;
    }
    
    div.overviewS2 p{
        width: 180px;
        font-size: 0.9em;
    }
    
    .downloadSection h4{
        font-size: 0.9em;
    }

    .downloadSection h2 {
        font-size: 1.9em;
    }

    /*about.html*/

    .aboutSection h2,
    .workSection h2 {
        font-size: 1.85em;
    }

    .aboutSection p {
        line-height: 1.4em;
        font-size: 0.9em;
    }

    .ourDetails{
        margin: 20px 0;
        padding: 20px 0;
    }

    .ourDetails img{
        height: 200px;
        width: 200px;
    }

    .ourDetails h5{
        font-size: 1.5em;
    }

    .ourDetails p{
        font-size: 0.70em;
    }

    .ourDetails a{
        font-size: 0.7em;
    }

    .ourDetails a i{
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    .contactForm{
        padding: 20px 20px;
        width: 90%;
        margin: 30px auto;
        border-radius: 20px;
        font-size: 0.8em;
    }

    .contactForm h2{
        font-size: 1.4em;
    }

    /* working.html */

    .workSection ul{
        line-height: 1.4em;
        font-size: 0.95em;
    }

    .toolsUsed h4 {
        font-size: 1em;
    }
    
    div.card h5 {
        font-size: 0.95em;
    }
    
    div.card p {
        font-size: 0.85em;
        line-height: 1.45em;
    }
    
    div.card img{
        width: 70px;
    }

}
    /*****************************************/

@media(max-width: 406px){

    .imageContent h2{
        font-size: 1em;
    }

    div.overviewSection div.overviewS1 h2 {
        font-size: 0.85em;
    }

    div.overviewS2 p{
        line-height: 1.25em;
        font-size: 0.8em;
    }
    
    section {
        padding: 10px 0 20px 0;
    }

    section h4{
        font-size: 0.9em;
    }
    
    section h3{
        font-size: 0.8em;
        line-height: 1.4em;
    }
    
    section img.phoneImg{
        height: 300px;
    }

    .downloadSection{
        margin-bottom: 50px;
        padding: 50px 0 50px 0;
    }

    .downloadSection h4{
        font-size: 0.7em;
    }

    .downloadSection h2 {
        font-size: 1.5em;
    }

    .downloadSection a{
        font-size: 0.8em;
    }

    div.imageContent img.imageIcon {
        width: 3em;
        margin-bottom: 15px;
    }

    .imageContent a {
        font-size: 0.8em;
    }
    
    a img {
        width: 1.2em;
    }

    .footerSection {
        padding: 30px 0 30px 0;
        font-size: 0.75em;
    }
    
    .footerSection a{
        font-size: 0.85em;
    }

    /*about.html*/
    
    .aboutSection h2,
    .workSection h2 {
        font-size: 1.55em;
    }

    .aboutSection p {
        line-height: 1.3em;
        font-size: 0.8em;
    }

    .contactForm .form-control{
        font-size: 0.88em
    }

    .contactForm div button {
        font-size: 1em;
    }

    /*working.html*/

    .workSection ul {
        line-height: 1.3em;
        font-size: 0.9em;
    }

    .toolsUsed h4 {
        font-size: 1em;
    }
    
    div.card h5 {
        font-size: 0.8em;
    }
    
    div.card p {
        font-size: 0.75em;
        line-height: 1.45em;
    }
    
    div.card img{
        width: 60px;
    }

}

/***************************************************************/
/***************************************************************/